 .box .phone .taymer{
  .set{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    .minuts, .secunds{
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      align-items: center;
      label{
        font-size: 35px;
        color: rgb(238, 255, 0);
      }
      #minut,#secund{
        width: 100px;
        border: none;
        outline: none;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 18px;
        text-align: center;
      }
    }
  }
  @media (max-width:400px){
    .set{
      gap: 10px;
      .minuts,.secunds{
        label{
          font-size: 26px;
        }
        #minut,#secund{
          font-size: 16px;
          padding: 3px 8px;
        }
      }
    }
    .setting{
      flex-direction: column;
      row-gap: 15px;
      button{
        font-size: 20px;  
      }
    }
  }
  .setting{
    display: flex;
    gap: 10px;
    button{
      padding: 6px 20px;
      border-radius: 5px;
      border: none;
      font-size: 22px;
      cursor: pointer;
      color: white;
      transition: 0.4s;
      &:hover{
        box-shadow: 2px 2px 10px 2px rgba(115, 153, 169, 0.6);
        transform: translateY(-3px);
        opacity: 0.9;
      }
    }
    .taymerStart{
      background: green;
    }
    .taymerStop{
      background: red;
    }
    .taymerReset{
      background: rgb(0, 119, 255);
    }
  }
 }